.m-b-image {
    box-shadow: 2px 2px 1.8px 1.2px rgba(0, 0, 0, 0.3);
    border-radius: 4%;
    height: 280px;
    object-position: center;
    width: 100%;
    object-fit: cover;
    margin: -24px 0 0 0;
}

.m-b-image:hover { height: 290px; }

.figure-caption { margin-right: 15px; }

.figure-caption > p > a {
    position: relative;
    text-decoration: none;
    color: #4899b0;
    align-content: center;
}

.figure-caption > p > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: -1.3px;
    background-color: #4899b0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.figure-caption > p > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}





/** CUSTOM MARKDOWN */
.show_hover {
    background-color: #94eaf7;
    letter-spacing: 3px;
}


#container-text > p > a, #container-text > div > p > a, #preview-toaster-content > p > a {
    position: relative;
    text-decoration: none !important;
    color: #4899b0;
    align-content: center;
}

#container-text > p > a:before, #container-text > div > p > a:before, #preview-toaster-content > p > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: -1.1px;
    background-color: #4899b0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#container-text > p > a:hover:before, #container-text > div > p > a:hover:before, #preview-toaster-content > p > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}



h1 {
    font-weight: 600 !important;
    font-style: normal;
    font-stretch: normal;
    font-size: 29px !important;
    letter-spacing: 0.7px;
    margin-left: 22px !important;
    padding: 90px 0 0 0;
    color: #005d71 !important;
    line-height: 1.1 !important;
}

h2 {
    line-height: 2px !important;
    font-weight: 600 !important;
    font-style: normal;
    font-stretch: normal;
    font-size: 22px !important;
    letter-spacing: 0.7px;
    margin-left: 10px !important;
    padding: 55px 0 2px 0;
    color: #0096b5 !important;
    line-height: 1.1 !important;
}

h3 {
    font-weight: 600 !important;
    font-stretch: normal;
    font-size: 20px !important;
    letter-spacing: -0.57px;
    margin-left: 29px !important;
    padding: 10px 0 2px 0;
    color: #003c4ed1 !important;
    line-height: 0.3 !important;
    font-style: normal;
    text-decoration: underline;
}


pre {
    background-color: #0000000b !important;
    margin: 0 12px !important;
}

code {
    background-color: rgba(29, 31, 32, 0.03) !important;
    color: #000c !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
}



.panel-m {
    box-sizing: content-box;
    position: relative;
    border-radius: 5px;
    margin: 25px 0 20px 10px;
    padding: 10px 10px 10px 30px;
    min-height: auto;
}
.panel-info-m    { background-color: #3fa5db2e; }
.panel-warning-m { background-color: #f395393b; }
.panel-danger-m  { background-color: #c219362e; }

.panel-m::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 0;
    width: 30px;
    height: 30px;
    top: -10px;
    left: -10px;
    z-index: 1;
}

.panel-m > p { margin: 0 18px 9px 0; }


.panel-info-m::before { background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMicgaGVpZ2h0PSczMicgdmlld0JveD0nMCAwIDMyIDMyJz48cGF0aCBmaWxsPScjM2ZhNWRiJyBkPSdNMjYuNCAyMi4yYzEtMS45IDEuNi00IDEuNi02LjMgMC03LjYtNi4yLTEzLjgtMTMuOC0xMy44cy0xMy44IDYuMi0xMy44IDEzLjggNi4yIDEzLjggMTMuOCAxMy44YzMuNSAwIDYuNy0xLjMgOS4yLTMuNWw3LjIgMi00LjEtNS45ek0xMy40IDIyLjNjMC4xIDAuMSAwLjIgMC4xIDAuMyAwLjEgMC4xIDAgMC4zLTAuMSAwLjUtMC4yIDAuNS0wLjQgMS0xIDEuNi0xLjdsMC41IDAuM2MtMC42IDAuOS0xLjMgMS43LTIuMiAyLjQtMC42IDAuNS0xLjIgMC43LTEuOCAwLjctMC40IDAtMC43LTAuMS0wLjktMC4zcy0wLjQtMC41LTAuNC0wLjhjMC0wLjMgMC4xLTAuOSAwLjMtMS43bDEuOC02LjFjMC4zLTEgMS0zLjQgMS0zLjRsMi4xLTAuMy0yLjcgOS42Yy0wLjIgMC42LTAuMyAxLTAuMyAxLjIgMCAwLjEgMCAwLjMgMC4xIDAuNHpNMTcgOC4xYy0wLjMgMC4zLTAuNiAwLjQtMSAwLjRzLTAuNy0wLjEtMS0wLjRjLTAuMy0wLjMtMC40LTAuNi0wLjQtMSAwLTAuNCAwLjEtMC43IDAuNC0xIDAuMy0wLjMgMC42LTAuNCAxLTAuNHMwLjcgMC4xIDEgMC40YzAuMyAwLjMgMC40IDAuNiAwLjQgMSAwIDAuNC0wLjEgMC43LTAuNCAxeicvPjwvc3ZnPg==) 0 0; }

.panel-warning-m::before { background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMicgaGVpZ2h0PSczMicgdmlld0JveD0nMCAwIDMyIDMyJz48cGF0aCBmaWxsPScjZjM5NTM5JyBkPSdNMjYuNCAyMi4yYzEtMS45IDEuNi00IDEuNi02LjMgMC03LjYtNi4yLTEzLjgtMTMuOC0xMy44cy0xMy44IDYuMi0xMy44IDEzLjggNi4yIDEzLjggMTMuOCAxMy44YzMuNSAwIDYuNy0xLjMgOS4yLTMuNWw3LjIgMi00LjEtNS45ek0xMi43IDIyLjZjLTAuNyAwLTEuMi0wLjYtMS4yLTEuMyAwLTAuOCAwLjYtMS41IDEuNC0xLjUgMC43IDAgMS4yIDAuNiAxLjIgMS4zIDAgMC44LTAuNiAxLjQtMS40IDEuNHpNMTQuMSAxOC4xaC0xLjRsMS43LTEwLjVoMi4xbC0yLjMgMTAuNXonLz48L3N2Zz4=) 0 0; }

.panel-danger-m::before { background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMicgaGVpZ2h0PSczMicgdmlld0JveD0nMCAwIDMyIDMyJz48cGF0aCBmaWxsPScjYzIxOTM2JyBkPSdNMjYuNCAyMi4yYzEtMS45IDEuNi00IDEuNi02LjMgMC03LjYtNi4yLTEzLjgtMTMuOC0xMy44LTcuNiAwLTEzLjggNi4yLTEzLjggMTMuOHM2LjIgMTMuOCAxMy44IDEzLjhjMy41IDAgNi43LTEuMyA5LjItMy41bDcuMiAyLTQuMS01Ljl6TTE3LjcgMTkuNmgtMi41bC0wLjUtMS4yYy0wLjItMC42LTAuNC0xLTAuNS0xLjRoLTAuMWMtMC4yIDAuNC0wLjQgMC44LTAuOCAxLjNsLTAuOSAxLjRoLTIuNmwzLjQtNC0xLjgtMy44aDIuNWwwLjUgMS4yYzAuMiAwLjYgMC40IDEgMC41IDEuM2gwYzAuMy0wLjQgMC41LTAuOCAwLjgtMS4ybDAuOS0xLjJoMi42bC0zLjMgMy44IDEuOCA0eicvPjwvc3ZnPg==) 0 0; }

code {
    margin: 0 0 11px 0 !important;
}

.code-iframe-i {
    margin: 21px 0px 0px;
    width: 100%;
    height: 320px;
    overflow: hidden;
    border: none;
}
