/* === Main === */
.category { display: flex; }

.c-large-2 { flex-grow: 2; }




/* === Items === */
.c-item {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 3px 7px 0.2px rgba(0, 0, 0, 0.15);
    margin: 8px 14px;
    border-radius: 1%;
}

.b-image-cont {
    display: flex;
    padding: 5px 10px 0 0;
    margin-left: 7px;
}

.b-img {
    box-shadow: 2px 2px 1.8px 1.2px rgba(0, 0, 0, 0.2);
    margin-left: -2px;
    border-radius: 1.5%;
    height: 222px;
    object-position: center;
    width: 100%;
    object-fit: cover;
}




/* === Post test === */
.b-text {
    padding: 21px 22px 5px 22px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.b-t-title {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 140%;
    color: #cd1719;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 4px;
}


.b-t-dec {
    padding-right: 10px;
    margin: -4px 0 0 5px;
    flex-grow: 1;
}


.b-t-dec > a {
    line-height: 1.4;
    color: #333 !important;
    font-weight: 400;
    font-size: 27px;
    cursor: pointer;
    align-content: center;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.b-t-dec > a:hover, .b-t-dec > a:focus {
    background-size: 100% 2px;
}





.b-t-date {
    font-size: 13px;
    font-style: italic;
    color: #8c8887;
    padding: 24px 0 0 0;
    align-self: flex-end;
}



@media screen and (max-width: 770px) {
    .container { flex-direction: column; }
    .c-item { width: 100%; }
    .b-img { height: 165px; }
}



/* ===== SECTIONS ===== */
.section {
    background-color: #ffffff;
    margin: 8px 0px;
    padding: 21px 88px;
}

.section-2 {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 3px 0.2px rgba(0, 0, 0, 0.11);
}

.s-c-title {
    font-weight: 500;
    font-size: 33px !important;
    text-align: center;
    text-transform: uppercase;
    color: #3c3c3c;
    margin: 33px 0 0 0;
    letter-spacing: 1.5px;
}

.s-c-category {
    display: flex;
    flex-direction: row;
    margin: 0 0 39px 0;
}

.s-c-c-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 calc(10%);
}


.s-c-c-item > a {
    color: #555350;
    transition: color .15s ease-out;
    line-height: 20px;
    padding: 22px 0 0 0;
    overflow: hidden;
    font-family: Rubik;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.s-c-c-item > a:hover {
    color: #312f2d;
    text-decoration: none;
}

hr {
    border: 0.4px solid #53535314 !important;
    width: 100%;
    opacity: 0.7;
    margin: 9px 0 23px 0 !important;
}



.gn-icon-menu {
    box-shadow: 0 3px #5f6f81 !important, 0 -6px white !important, 0 -9px #5f6f81 !important, 0 -12px white !important;
    background-color: white;
}

.gn-icon-menu.gn-selected::before {
    background: #5f6f81;
    box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
}

.form-control {
    color: #cacaca !important;
}

.form-control::placeholder {
    color: #8e8e8e !important;
}



.m-c-header {
    display: flex;
}

.m-c-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}



.m-c-button-yt { margin-top: 35px; }

.mdc-button {
    background-color: #f7f7f7 !important;
    color: #343a40 !important;
    border-color: #343a40 !important;
    transition: background-color .25s ease-out, color .25s ease-out;
}

.mdc-button:hover {
    background-color: #343a40 !important;
    color: #f0f0f0 !important;
}

.mdc-button::before, .mdc-button::after {
    background-color: #343a40 !important;
}



.m-title {
    display: flex;
    flex-direction: column;
}

.m-t-title {
    font-weight: 550;
    font-size: 43px !important;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    margin: 14px 0 2px 0;
    letter-spacing: 1.5px;
}

.m-t-hr {
    width: 80%;
    align-self: center;
    margin: 8px 0 15px 0 !important;
    background-color: #5555552b;
}

.m-t-subtitle {
    font-weight: 100;
    font-size: 17px !important;
    text-align: center;
    color: #6c6b6beb;
    letter-spacing: 2.5px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.m-c-image {
    vertical-align: middle;
    border-style: none;
    height: 105px;
    margin-bottom: 7px;
}

.m-c-col > p {
    color: #555350;
    line-height: 20px;
    overflow: hidden;
    font-family: Rubik;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
