@font-face {
    font-family: chaparral-pro;
    src: url(https://use.typekit.net/af/17d530/00000000000000003b9aee4f/27/l?subset_id=2&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/17d530/00000000000000003b9aee4f/27/d?subset_id=2&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/17d530/00000000000000003b9aee4f/27/a?subset_id=2&fvd=n6&v=3) format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: brandon-grotesque;
    font-style: normal;
    font-weight: 500;
    src: url(https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/l?fvd=n5&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff2"),url(https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/d?fvd=n5&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("woff"),url(https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/a?fvd=n5&primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&v=3) format("opentype");
}

@font-face {
    font-family: sofia-pro;
    src: url(../fonts/sofiapro-light.otf) format("opentype");
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular"), local("Montserrat-Regular"), url("https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
