/* ==== MAIN PROPERTIES ==== */
:root {
    --color-background: rgba(0, 0, 0, 1);
    --color-background-semi-o: rgba(0, 0, 0, 0.7);

    --color-header: rgb(26, 49, 96);

    --color-footer: #25222C;
    --color-footer-light-blue: #1C4052CC;


    --color-white: #FFF;
    --color-white-4-t: rgba(255, 255, 255, 0.4);
    --color-white-6-t: rgba(255, 255, 255, 0.6);
    --color-white-9-t: rgba(255, 255, 255, 0.9);

    --color-gray: #DDD;
    --color-light-gray: #6a6379;
    --color-dark-gray: #4A4358;

    --color-titles: var(--color-white);
    --color-content: #ffffffb3;


    --font-family-titles: brandon-grotesque, sans-serif; /* ou chaparral-pro */
    --font-family-little-content: sofia-pro, sans-serif;
    --font-family-footer: sofia-pro, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    overflow-x: hidden;
    font-family: Montserrat, "Segoe UI", Arial, sans-serif !important;
}

.space-20 {
    margin: 20px;
    font-size: 1rem;
    line-height: 1.625rem;
}



/* ==== FLEX PROPERTIES ==== */
/* --- Global --- */
.container { margin: 7px auto 24px auto; }

.c-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-flex-cols { flex-direction: column; }
.c-flex-rows { flex-direction: row; }


/* --- Items --- */
.c-item { width: 35%; }

@media all and (max-width: 600px) {
    .c-flex-rows { flex-direction: column; }
    .c-item { width: 87%; }
}


/* --- Sections --- */
#c-item-1 { background: gold; }
#c-item-2 { background: hotpink; }





/* ======= MAIN ELEMENTS ====== */
main { margin-top: 40px; }

.back-imgs > img {
    width: 326px;
    height: auto;
    position: absolute;
    z-index: 100;
    opacity: 0.6;
}



/* ---- Intro ---- */
.c-titles {
    color: var(--color-titles);
    text-align: center;
    font-family: var(--font-family-titles);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 4px;
}
.c-intro-titles {
    border-color: var(--color-white-4-t);
    border-style: solid;
    border-width: 1px;
    width: 60%;
}
.c-title { font-size: 35px; }
.c-subtitle {
    font-size: 20px;
    font-family: var(--font-family-footer);
    letter-spacing: 2px;
}


.c-title-text {
    letter-spacing: 1px;
    font-size: 22px;
    color: var(--color-content);
    text-align: center;
    margin-top: 0;
    font-family: var(--font-family-little-content);
}
.c-describe-titles { margin-top: 0; }



/* ---- Profil ---- */
#c-presentation { margin-top: 400px; }
.c-partie {
    letter-spacing: 3px;
    font-size: 36px;
    color: var(--color-titles);
    text-align: center;
    margin-top: 0;
    font-family: var(--font-family-little-content);
    border: white solid;
    border-right: none;
    border-left: none;
    border-radius: 25%;
    padding: 10px;
}
.c-partie-little {
    letter-spacing: 2px;
    font-size: 32px;
    color: var(--color-titles);
    text-align: center;
    margin: 20px auto 5px auto;
    font-family: var(--font-family-little-content);
    padding: 5px;
    text-decoration: underline;
}

.c-content-text {
    letter-spacing: 1px;
    font-size: 19px;
    color: var(--color-content);
    text-align: center;
    margin-top: 0;
    font-family: var(--font-family-little-content);
}


/* ---- Parcours ---- */
.c-parcours, .c-p-line {
    display: flex;
    justify-content: center;
}
.c-parcours { margin: 18px 240px auto 240px; }
.c-p-line-2-el { margin: auto 150px auto 150px; }

.p-item { margin: -5px auto -5px auto; }
.p-item > img {
    filter: grayscale(100%);
    transform: scale(0.7);
    transition: 0.7s ease;
    cursor: pointer;
}
.p-item > img:hover {
    transform: scale(0.9);
}
.p-item > p {
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--color-white-6-t);
    margin-top: 0;
    font-family: var(--font-family-little-content);
    margin: -7px auto auto 20px;
}


.c-e-date {
    font-size: 190px;
    font-weight: 900;
    color: var(--color-titles);
    font-family: var(--font-family-little-content);
    margin: -24px 0 0 0;
    text-align: center;
}
.c-e-expl {
    font-size: 24px;
    margin: -20px 0 30px 0;
    color: var(--color-white-9-t);
    line-height: 31px;
}
.c-expl-text { margin-top: 30px; }

/* --- Projets et compétences --- */
.a-planet {
    width: 100%;
    margin-top: 60px;
}
.a-c-item > img {
    position: absolute;
    height: 200px;
    margin: 0;
    cursor: pointer;
}
.a-c-item > p {
    position: absolute;
    color: black;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: var(--font-family-little-content);
    cursor: pointer;
}

.a-c-const {
    position: absolute;
    width: 40%;
    margin-left: 34%;
    margin-top: 24%;
}
.a-c-const > a {
    cursor: pointer;
    color: #3f3f3f;
    font-size: 41px;
    font-weight: 900;
    font-family: var(--font-family-little-content);
    text-align: center;
    float: inherit;
    position: relative;
    text-decoration: none;
}


/** --- Contact --- */
.s-text {
    text-align: center;
}

.s-text > label {
    font-family: var(--font-family-little-content);
    font-size: 19px;
}
.s-text > label > input, .s-text > label > select {
    width: 35%;
    border: none;
    padding: 10px;
    margin-top: 4px;
    font-size: 14px;
    font-family: var(--font-family-little-content);
    opacity: 0.8;
    border-radius: 11px;
}
.s-text > label > select {
    width: 37.5%;
    background: url(../imgs/illustration/arrows.ico) 98% / 9% no-repeat #eee;
    appearance: none;
    -moz-appearance: none;
}
.c-button { margin: -78px 0 0 7px; }
.c-button > input {
    font-size: 25px;
    font-family: var(--font-family-little-content);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}









/* ====== MEDIAS ====== */
@media all and (max-width: 1700px) {
    .a-c-item > img { height: 130px; }
}
@media all and (max-width: 830px) {
    .c-title { font-size: 25px; margin: 10px 0 0 0; }
    .c-subtitle { font-size: 15px; margin: 0 0 10px 0; }
    .c-p-line-2-el { margin: auto auto auto auto; }
}

@media all and (max-width: 820px) {
    .a-c-item > img { height: 95px; }
}

@media all and (max-width: 670px) {
    .c-intro-titles { border: none; }
    .c-title { margin: 21px 0 0 0; }
    .c-subtitle { margin: 0; }
    .c-describe-titles { margin-top: -35px; }
    .c-e-date { font-size: 140px; }
    .c-e-expl { font-size: 21px; }
}

@media all and (max-width: 485px) {
    .a-c-item > img { height: 80px; }
}

@media all and (max-width: 440px) {
    .c-title { margin: 13px 0 0 0; font-size: 20px; }
    .c-subtitle { font-size: 12px; }
}



.little-text {
    color: #555350;
    line-height: 20px;
    font-family: Rubik;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

.act-admin-b {
    margin: 8px 0 0 22px;
    padding: 0 2px 0 3px;
    font-size: 13px;
    text-transform: none;
    height: 20px;
}
