.c-sim-cat-m {
    display: flex;
}

.c-sim-cat {
    padding: 8px 35px 29px 35px;
    margin: 94px 0 0 0;
    border-radius: 7px;
    box-shadow: 3px 4px 4px 0.2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(49deg, #03040F, #1B1F4A 67%, #141A51, #0B0F31);
    color: #d7d7d7;
}

.c-sim-cat > p {
    font-size: 26px;
    font-weight: 500;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 3px 34px 25px;
    text-transform: uppercase;
    box-shadow: 2px 3px 7px 0.2px rgba(0, 0, 0, 0.08);
    width: max-content;
    padding: 3px 18px 3px 19px;
    /*background-color: #F0712C;*/
    text-decoration: underline;
    border-radius: 2px;
}

.c-sim-cat-el {
    margin: 0 25px 0 0;
    border: none;
    padding: 7px 9px 0 9px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.c-sim-cat-el > a {
    color: #166634;
    text-align: center;
    margin: 10px 0 15px 0;
    transition: text-decoration 0.5s ease;
    text-decoration: none;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.1px;
}
.c-sim-cat-el > a:hover {
    text-decoration: underline;
}


.c-sim-cat-el > img {
    height: 110px;
    border: 5px solid #03040F;
    border-radius: 5px;
    min-width: 100px;
    filter: grayscale(0.6);
    transition: filter 0.2s ease; /* height 0.3s ease */
}
.c-sim-cat-el > img:hover {
    /* height: 190px; */
    filter: grayscale(0);
}

@media all and (max-width: 575px) {
    .c-sim-cat {
        padding: 8px 0px 24px 28px;
    }

    .c-sim-cat-m {
        flex-direction: column;
    }

    .c-sim-cat-el > img {
        min-width: 100px;
        height: auto !important;
        width: auto !important;
        max-height: 219px;
    }

    .c-sim-cat-el {
        margin-bottom: 41px;
    }

    .c-sim-cat > p {
        font-size: 21px;
        margin: 3px 34px 25px;
        text-transform: uppercase;
        padding: 3px 18px 3px 19px;
        text-decoration: unset;
        border-radius: 2px;
        margin-left: -33px;
    }
}

.s-si-links-1 {
    display: flex;
    position: relative;
    z-index: 20;
}

.s-si-links-1-el-1 {
    margin: 0 -30% 0 0;
}

.s-si-links-1-el {
    flex-grow: 1;
}

.s-si-links-2 {
    margin: 47px 0 0 0;
    position: relative;
    z-index: 10;
}

.image_main > img {
    margin-bottom: -149px;
    max-width: 100%;
    margin-top: -68px;
    height: 100%;
    z-index: 1 !important;
    position: relative;
}

.s-sim-text {
    color: white;
    position: relative;
    z-index: 2;
    margin-top: 50px;
}

.s-si-title {
    margin: 0;
    font-size: 44px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.s-si-description {
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-top: 23px;
}

.s-si-date {
    margin-top: -10px;
    color: #ccc;
    font-style: italic;
}

.s-si-category {
    color: #5ED089;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    margin-top: -13px;
}


.s-si-links-2-p-1-e {
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

.s-si-links-2-p-2-e {
    color: white;
    text-transform: none;
    font-family: "Montserrat", sans-serif;
    margin: -10px 0 22px 0;
    font-size: 14px;
}


@media all and (max-width: 408px) {
    .s-si-links-1    { flex-direction: column; }
    .s-si-links-1-el { margin: -64px 0 83px 0 !important; }
}
