.nav {
    background-color: #141923;
    color: white;
}

.navbar {
    display: flex;
}

.logo {
    z-index: 20;
    display: flex;
    margin: 12px 0 0 25px;
}
.logo > a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
}
.logo > a:hover {
    color: rgb(240, 240, 240);
}
.logo > a > p {
    font-size: 22px;
    margin: 12px 0 0 13px;
    font-weight: 600;
    text-decoration: none;
}
.logo > a > img {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
.logo > a > img:hover {
    transform: rotate(5deg);
}

.links {
    margin-left: auto;
    display: flex;
    z-index: 20;
    margin-right: 20px;
}

.navbarBackground {
    height: 122px;
    width: 100%;
    margin: -44px 0px -4vw 0px;
    background-color: #141923;
}
@media (max-width: 1380px) {
    .navbarBackground { height: 102px; }
}
@media (max-width: 880px) {
    .navbarBackground { height: 80px; }
}

.links > a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.links > a:hover {
    color: rgb(240, 240, 240);
}
.links > a > p {
    font-size: 16px;
    margin: 22px 18px 0 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
@media (max-width: 670px) {
    .links > a > p {
        font-size: 14px;
        margin: 23px -2px 0 17px;
    }
}
@media (max-width: 600px) {
    .mecanicascience {
        display: none;
    }
}
