<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('../../partial/head') %>
	</head>

	<body>
		<header>
			<%- include('../../partial/header') %>
		</header>

		<main>
			<!-- Bandeau de présentation -->
			<div class="section section-2" style="margin-top: -5px;">
				<div class="m-title">
					<p class="m-t-title">à propos</p>
					<hr class="m-t-hr" />
					<p class="m-t-subtitle">Vous pouvez consulter les mentions à propos du site ci-dessous</p>
				</div>

				<div class="m-content">
					<div class="container m-c-header">
						<div class="m-c-row">
						</div>

						<div class="m-c-row">
							<div class="m-c-col">
								<a href="/"><img class="m-c-image m-c-logo" src="/imgs/illustration/main_logo.png" /></a>
							</div>
						</div>

						<div class="m-c-row">
						</div>
					</div>

					<div class="m-c-button-yt">
						<button class="mdc-button mdc-button--outlined" onclick="window.location.href = '/';">Retourner à l'accueil</button>
					</div>
				</div>
			</div>

			<div style="margin-top: 60px">
				<div class="container">
					<p class="m-l-title">à propos de ce blog</p>

					<p style="margin-bottom: 70px; text-align: justify;">
						<span style="margin-left: 20px">Bonjour et bienvenue sur ce blog !</span>

						<br /><br /><br />Ici, je publierai principalement des articles concernant les vidéos de ma chaîne YouTube <b>MecanicaScience</b>.
						Ces articles viseront à expliquer mes motivations derrière mes vidéo, ou <b>développerons certains points</b> que je n'ai volontairement pas abordés.
						<br />Ainsi, vous trouverez des <b>démonstrations</b> mathématiques, ainsi que des <b>explications</b> plus complètes de certaines notions de physique.

						<br /><br />Les thèmes que j'aborde sont donc la physique, les mathématiques, et parfois de l'informatique afin de mettre en application certains points.

						<br /><br />Cependant, je développerai également <b>d'autres notions</b> dont je n'ai pas envie de réaliser une vidéo dessus (<i>que ce soit à cause de
							contraintes de durées de vidéo, ou simplement de temps d'animation</i>), ou qui ne méritent pas toute une vidéo à leur sujet.
							<br />Ne vous attendez donc ni à un rythme de publication régulier, ni à du contenu ne concernant exclusivement que la chaîne.

						<br /><br />Si vous souhaitez m'aider financièrement sans dépenser la moindre pièce, vous pouvez me faire un don simplement en regardant gratuitement une pub sur <a class="m-l-link" href="https://utip.io/MecanicaScience">uTip</a>.

						<br /><br />Si vous souhaitez me contacter à propos de ce blog ou de ma chaîne YouTube, n'hésitez pas à
						envoyer un mail à l'adresse mail suivante : <a class="m-l-link" href="mailto:mecanicaytb@gmail.com">mecanicaytb@gmail.com</a>.
						<br />De plus, si vous avez une <b>idée de sujet</b> ou si vous souhaitez <b>collaborer</b> avec moi, n'hésitez pas à m'envoyer un mail.

						<br /><br /><br />
						<span style="margin-left: 20px">A tout de suite sur le blog !</span>
						<br /><span style="margin-left: 24px">- <b>Maxime DHERBECOURT</b>, Créateur du site</span>
					</p>
				</div>
			</div>

		<%- include('../../partial/footer') %>
	</body>
</html>
