<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('../../partial/head') %>
	</head>

	<body>
		<navbar>
			<%- include('../../partial/header') %>
		</navbar>

		<header id="header">
            <div class="big-header">
                <div class="trangles-left">
                    <div class="triangle1 triangle"><div></div></div>
                    <div class="triangle2 triangle"><div></div></div>
                    <div class="triangle3 triangle"><div></div></div>
                    <div class="triangle4 triangle"><div></div></div>
                </div>

                <div class="triangles-right">
                    <div class="triangle5 triangle"><div></div></div>
                    <div class="triangle6 triangle"><div></div></div>
                    <div class="triangle7 triangle"><div></div></div>
                    <div class="triangle8 triangle"><div></div></div>
                </div>

                <div class="b-g-main-logo" onclick="document.location.href='/'">
                    <img src="/imgs/main_logo.png" />
                </div>

                <div class="b-g-main-text">
                    <div class="bgm-t-1" style="text-transform: uppercase;">à propos</div>
                    <div class="bgm-t-2"></div>
                    <div class="bgm-t-3">
                        <div class="bgm-t-3-1">
                            Mecanica
                        </div>
                        <div class="bgm-t-3-2">
                            Science
                        </div>
                        <div class="bgm-t-3-2">
                            <button type="button" class="btn btn-outline-light" href="/" onclick="document.location.href='/'">
                                Retourner à l'accueil
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

		<article>
			<div style="margin-top: 60px">
				<div class="container">
					<p class="m-l-title">à propos de ce blog</p>

					<p class="m-l-content-t" style="margin-bottom: 20px; text-align: justify;">
						&nbsp;&nbsp;&nbsp;&nbsp;Ici, seront publiés principalement des articles concernant les vidéos de la chaîne YouTube <span>MecanicaScience</span>.
						Ces articles viseront à expliquer les motivations derrière les vidéos, ou <span>développerons certains points</span> que volontairement non-abordés.
						<br />Ainsi, vous trouverez des <span>démonstrations</span> mathématiques, ainsi que des <span>explications</span> plus complètes de certaines notions de physique.

						<br /><br />Les thèmes que abordés sont donc la physique, les mathématiques, et parfois de l'informatique afin de mettre en application certains points.

						<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;Cependant, <span>d'autres notions</span> sont aussi développés, principalement celles dont je n'ai pas envie de réaliser une vidéo dessus (<i>que ce soit à cause de
							contraintes de durées de vidéo, ou simplement de temps d'animation</i>), ou qui ne méritent pas toute une vidéo à leur sujet.
							<br />Ne vous attendez donc ni à un rythme de publication régulier, ni à du contenu ne concernant exclusivement que la chaîne.

						<br /><br />Si vous souhaitez aider financièrement sans dépenser la moindre pièce, vous pouvez faire un don simplement en regardant gratuitement une pub sur <a class="m-l-link" href="https://utip.io/MecanicaScience">uTip</a>.

						<br /><br />Si vous souhaitez me contacter à propos de ce blog ou de la chaîne YouTube, n'hésitez pas à
						envoyer un mail à l'adresse mail suivante : <a class="m-l-link" href="mailto:mecanicascience@gmail.com">mecanicascience@gmail.com</a>.
						<br />De plus, si vous avez une <span>idée de sujet</span> ou si vous souhaitez <span>collaborer</span>, n'hésitez pas à m'envoyer un mail.

						<br /><br /><br />
						<div style="margin-left: 20px">A tout de suite sur le blog !</div>
						<div style="margin-left: 24px">- <span><b>Maxime DHERBECOURT</b></span>, Créateur du site</div>
					</p>
				</div>
			</div>
		</article>

		<%- include('../../partial/footer') %>
	</body>
</html>
