<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../../partial/head') %>
    </head>

    <body>
        <header>
            <%- include('../../partial/header') %>
        </header>

        <main>
            <div class="section section-2" style="margin-top: -5px;">
                <div class="m-title">
                    <p class="m-t-title">Contact</p>
                    <hr class="m-t-hr" />
                    <p class="m-t-cont">
                        Pour contacter MecanicaScience, veuillez envoyer un mail à l'adresse <a class="m-l-link m-l-l-light" href="mailto:mecanicascience@gmail.com">mecanicascience@gmail.com</a>.
                    </p>
                </div>

                <div class="m-content">
                    <div class="container m-c-header">
                        <div class="m-c-row">
                        </div>

                        <div class="m-c-row">
                            <div class="m-c-col">
                                <a href="/"><img class="m-c-image m-c-logo" src="/imgs/illustration/main_logo.png" /></a>
                            </div>
                        </div>

                        <div class="m-c-row">
                        </div>
                    </div>

                    <div class="m-c-button-yt">
                        <button class="mdc-button mdc-button--outlined" onclick="window.location.href = '/';">Retourner à l'accueil</button>
                    </div>
                </div>
            </div>

        <%- include('../../partial/footer') %>
    </body>
</html>
