<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../../partial/head') %>
    </head>

    <body>
        <navbar>
			<%- include('../../partial/header') %>
		</navbar>

        <header id="header">
            <div class="big-header">
                <div class="trangles-left">
                    <div class="triangle1 triangle"><div></div></div>
                    <div class="triangle2 triangle"><div></div></div>
                    <div class="triangle3 triangle"><div></div></div>
                    <div class="triangle4 triangle"><div></div></div>
                </div>

                <div class="triangles-right">
                    <div class="triangle5 triangle"><div></div></div>
                    <div class="triangle6 triangle"><div></div></div>
                    <div class="triangle7 triangle"><div></div></div>
                    <div class="triangle8 triangle"><div></div></div>
                </div>

                <div class="b-g-main-logo" onclick="document.location.href='/'">
                    <img src="/imgs/main_logo.png" />
                </div>

                <div class="b-g-main-text">
                    <div class="bgm-t-1">La simulation n'a pas été trouvée</div>
                    <div class="bgm-t-2"></div>
                    <div class="bgm-t-3">
                        <div class="bgm-t-3-1">
                            Erreur 404
                        </div>
                        <div class="bgm-t-3-2">
                            <button type="button" class="btn btn-outline-light" href="/" onclick="document.location.href='/'">
                                Retourner à l'accueil
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <%- include('../../partial/footer') %>
        <style>
            footer { margin-top: -130px !important; }
        </style>
    </body>
</html>
