.buttons {
    display: flex;
    flex-direction: row;
    z-index: 10;
    position: relative;
}

.buttons > * {
    margin: 0 50px;
}

@media (max-width: 890px) {
    .buttons {
        flex-direction: column;
        margin-top: 20px;
    }
    .buttons>* { margin: 10px 50px;}
}
