<!DOCTYPE html>
<html lang="en">
	<head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-D3FKJL2M8X"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-D3FKJL2M8X');
        </script>


        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Science popularization blog" />
        <meta name="keywords"    content="mecanicascience science popularization physics mathematics maths informatic simulation youtube" />
        <meta name="Resource-type" content="Document" />
        <meta http-equiv="origin-trial" content="AmXJ7DlNeleaYSfLiuk/soVKj1Pb4EzVai7XGPQNVv1yusrF9eQKlWmp71gYwuByb/IlBMZfEAXUrC3IuK6zWwAAAABleyJvcmlnaW4iOiJodHRwczovL21lY2FuaWNhc2NpZW5jZS5mcjo0NDMiLCJmZWF0dXJlIjoiV2ViR1BVIiwiZXhwaXJ5IjoxNjkxNzExOTk5LCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">

        <link rel="icon"      type="image/png"           href="/imgs/favicon.png" />
        <link rel="alternate" type="application/rss+xml" href="/feed/actualites.xml" />
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/images/mecanica_science.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Exploring General Relativity - Part 1</title>

        
  	  <script type="module" crossorigin src="/assets/index-7a06e40d.js"></script>
  	  <link rel="stylesheet" href="/assets/index-f0e31d0d.css">
  	</head>

	<body>
		<div id="root"></div>
	</body>
</html>
