<!DOCTYPE html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-D3FKJL2M8X"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-D3FKJL2M8X');
        </script>

        <link rel="icon" type="image/png" href="/imgs/favicon.png" />
        <link rel="alternate" type="application/rss+xml" href="/feed/actualites.xml" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Explorable articles and interactive simulations" />
        <meta name="keywords"
            content="mecanicascience explorable explorables blog science vulgarisation vulgarization popularization physics mathematics maths computer simulation interactive interactives" />
        <meta name="Resource-type" content="Document" />

        <title>The Science of Complexity</title>

      <script type="module" crossorigin src="/assets/index-BECvmmjY.js"></script>
      <link rel="modulepreload" crossorigin href="/assets/react-BdCubYHz.js">
      <link rel="modulepreload" crossorigin href="/assets/react-dom-DROicfU5.js">
      <link rel="modulepreload" crossorigin href="/assets/three-Dlbs-qyx.js">
      <link rel="modulepreload" crossorigin href="/assets/react-use-measure-DvzsJVfN.js">
      <link rel="modulepreload" crossorigin href="/assets/its-fine-UdzVbGov.js">
      <link rel="modulepreload" crossorigin href="/assets/scheduler-DV1PgV85.js">
      <link rel="modulepreload" crossorigin href="/assets/react-reconciler-C_iaNTue.js">
      <link rel="modulepreload" crossorigin href="/assets/@babel-CF3RwP-h.js">
      <link rel="modulepreload" crossorigin href="/assets/use-sync-external-store-VaZ3XG0a.js">
      <link rel="modulepreload" crossorigin href="/assets/zustand-JvyHyJda.js">
      <link rel="modulepreload" crossorigin href="/assets/three-stdlib-BpduEzU0.js">
      <link rel="modulepreload" crossorigin href="/assets/@monogrid-7l7o_qaB.js">
      <link rel="modulepreload" crossorigin href="/assets/suspend-react-BKIKQNXN.js">
      <link rel="modulepreload" crossorigin href="/assets/@react-three-DFGkI1lQ.js">
      <link rel="modulepreload" crossorigin href="/assets/react-error-boundary-CjL9E7Cy.js">
      <link rel="modulepreload" crossorigin href="/assets/better-react-mathjax-DxDn-ObK.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-timer-DdKHrDhs.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-dispatch-kxCwF96_.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-color-9lF95FHy.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-interpolate-1ID44o_P.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-selection-Bg2aTuTQ.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-ease-DRPgKoYJ.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-transition-D0z06rge.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-zoom-DJfp0ujn.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-array-o8Dej1Ei.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-format-CzD4bSOQ.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-scale-DjanLsN9.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-axis-D3QohQNI.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-path-CimkQT29.js">
      <link rel="modulepreload" crossorigin href="/assets/d3-shape-CjIy0WYm.js">
      <link rel="stylesheet" crossorigin href="/assets/index-B9z30uOs.css">
    </head>

    <body id="root">
    </body>
</html>
