<!-- Google Analytics V3 -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144935138-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){ dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-144935138-2');
</script> -->

<!-- Google Analytics V4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D3FKJL2M8X"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-D3FKJL2M8X');
</script>


<meta charset="UTF-8">

<meta name="viewport"      content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"   content="Blog de vulgarisation" />
<meta name="keywords"      content="mecanicascience science vulgarisation physique mathematiques maths informatique simulation youtube" />
<meta name="Resource-type" content="Document" />


<title><%= main.website_title %></title>


<link rel="icon"      type="image/png"           href="/imgs/favicon.png" />
<link rel="alternate" type="application/rss+xml" href="/feed/actualites.xml" />

<link rel="stylesheet" href="/library/bootstrap_4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/library/font-awesome/css/all.css">

<link rel="stylesheet" href="/library/highlightjs_9.17.1/styles/default.css">

<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/css/component.css" />

<link rel="stylesheet" type="text/css" href="/css/index.css" />
<link rel="stylesheet" type="text/css" href="/css/blog.css" />
<link rel="stylesheet" type="text/css" href="/css/monthly_projects.css" />
<link rel="stylesheet" type="text/css" href="/css/simulations.css" />
<link rel="stylesheet" type="text/css" href="/css/legal.css" />
<link rel="stylesheet" type="text/css" href="/css/articles_admin.css" />
<link rel="stylesheet" type="text/css" href="/css/article.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/css/footer.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />



<script type="text/javascript" src="/library/jquery_3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/library/bootstrap_4.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/library/modernizr/modernizr.custom.js"></script>
<script type="text/javascript" src="/library/showdown_1.9.1/showdown.min.js"></script>

<script type="text/javascript" src="/js/edit_article.js"></script>
<script type="text/javascript" src="/js/article_reformat.js"></script>

<!-- <script type="text/javascript" src="/library/font-awesome/js/all.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>


<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax : {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
        },
        "HTML-CSS" : { linebreaks: { automatic: true } },
        SVG : { linebreaks: { automatic: true } },
        CommonHTML: {
            linebreaks: {automatic: true}
        }
    });
</script>

<script type="text/javascript" src="/library/highlightjs_9.17.1/highlight.pack.js"></script>
