<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
	<!-- ==== LEFT-MENU ==== -->
	<ul id="gn-menu" class="left-menu-main gn-menu-main">
		<li class="gn-trigger">
			<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
			<nav class="gn-menu-wrapper">
				<div class="gn-scroller">
					<ul class="gn-menu">
						<li><a class="gn-icon d-main-dev" href="/"><i class="menu-icon fas fa-home"></i>Accueil</a></li>

						<li>
							<a class="gn-icon d-main-dev" href="/monthly_projects/"><i class="menu-icon fas fa-calendar-week" style="padding-left: 2px;"></i>Projets du mois</a>
							<a class="gn-icon d-main-dev" href="/simulations/list/"><i class="menu-icon fas fa-server" style="padding-left: 2px;"></i>Liste des simulations</a>

							<a class="gn-icon d-main-dev" href="/#articles"><i class="menu-icon fas fa-newspaper"></i>Articles</a>

							<ul class="gn-submenu">
								<li class="d-li-dev"><a class="gn-icon" href="/#articles" onclick="setTimeout(() => { location.reload(); }, 200); document.location.href = '/#articles';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-globe-europe d-icon-dev"></i>Tout voir</a></li>
								<li class="d-li-dev"><a class="gn-icon" href="/?s=mecanique#articles" onclick="setTimeout(() => { location.reload(); }, 200); document.location.href = '/?s=mecanique#articles';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-rocket d-icon-dev"></i>Mécanique</a></li>
								<li class="d-li-dev"><a class="gn-icon" href="/?s=electromag#articles" onclick="setTimeout(() => { location.reload(); }, 200); document.location.href = '/?s=electromag#articles';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-magnet d-icon-dev"></i>Electromagnétisme</a></li>
								<li class="d-li-dev"><a class="gn-icon" href="/?s=optique#articles" onclick="setTimeout(() => { location.reload(); }, 200); document.location.href = '/?s=optique#articles';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-wave-square d-icon-dev"></i>Optique</a></li>
								<li class="d-li-dev"><a class="gn-icon" href="/?s=maths#articles" onclick="setTimeout(() => { location.reload(); }, 200); document.location.href = '/?s=maths#articles';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-calculator d-icon-dev"></i>Mathématiques</a></li>
								<li class="d-li-dev"><a class="gn-icon" href="/?s=autre#articles" onclick="setTimeout(() => { location.reload(); }, 200); document.location.href = '/?s=autre#articles';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-folder d-icon-dev"></i>Autre</a></li>
							</ul>
						</li>

						<li>
							<a class="gn-icon d-main-dev"><i class="menu-icon fas fa-map"></i>Plan du site</a>

							<ul class="gn-submenu">
								<li class="d-li-dev"><a class="gn-icon" href="/about">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-search d-icon-dev"></i>A propos</a></li>
								<li class="d-li-dev"><a class="gn-icon" href="/legal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-question-circle d-icon-dev"></i>Mentions légales</a></li>
								<li class="d-li-dev"><a class="gn-icon" href="/contact">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-address-card d-icon-dev"></i>Contact</a></li>
							</ul>
						</li>

						<li>
							<% if(main != undefined && main.connected) { %>
								<a class="gn-icon d-main-dev" href="/admin"><i class="menu-icon fas fa-lock-open"></i>Administrateur</a>

								<ul class="gn-submenu">
									<li class="d-li-dev"><a class="gn-icon" href="/admin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-cog d-icon-dev"></i>Panel administrateur</a></li>
									<li class="d-li-dev"><a class="gn-icon" href="/admin/deconnexion">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="menu-icon fas fa-sign-out-alt d-icon-dev"></i>Déconnexion</a></li>
								</ul>
							<% } else { %>
								<a class="gn-icon d-main-dev" href="/admin"><i class="menu-icon fas fa-lock"></i>Panel administrateur</a>
							<% } %>
						</li>
					</ul>
				</div>
			</nav>
		</li>
	</ul>

	<!-- ==== NAVBAR ==== -->
	<div class="collapse navbar-no-collapse" id="navbarSupportedContent" style="padding: .5rem 1rem;">
		<form class="search-form" method="post" id="search-form" action=<%= main.action_link + '#articles'  %>>
			<input class="form-control search-bar" type="text" placeholder="Rechercher le titre d'un post..." role="search" name="q">
			<a class="search-button" onclick="document.getElementById('search-form').submit();"><i class="fas fa-search fa-lighter"></i></a>
		</form>

		<ul class="navbar-nav mr-auto"></ul>

		<ul class="navbar-nav" id="navbar-items-right">
			<li class="nav-item" style="opacity: 0;">
				<a class="nav-link" href="https://www.youtube.com/c/MecanicaScience">
					<i class="fa">
						<i class="im im-youtube"></i>
					</i>Youtube
				</a>
			</li>

			<li class="nav-item" style="opacity: 0;">
				<a class="nav-link" href="https://utip.io/MecanicaScience">
					<i class="fa">
						<i class="im im-coin"></i>
						<span class="badge badge-info" tmp="<!-- badge-success -->">!</span>
					</i>Utip
				</a>
			</li>

			<li class="nav-item" style="opacity: 0;">
				<a class="nav-link" href="https://twitter.com/MecanicaSci">
					<i class="fa">
						<i class="im im-twitter"></i>
					</i>Twitter
				</a>
			</li>

			<li class="nav-item" style="opacity: 0;">
				<a class="nav-link" href="https://github.com/mecanicascience">
					<i class="fa">
						<i class="im im-github"></i>
					</i>Github
				</a>
			</li>

			<li class="nav-item" style="opacity: 0;">
				<a class="nav-link" href="/contact">
					<i class="fa">
						<i class="im im-mail"></i>
					</i>Contact
				</a>
			</li>
		</ul>
	</div>
</nav>
