.transition {
    height: 8vw;
    width: 100%;
    margin: -35px 0px -4vw 0px;
    position: relative;
    background-color: white;
}
@media (max-width: 770px) {
    .transition { height: 11vw; }
}
.rotationLow {
    transform: rotate(359.2deg) scale(1.1, 1);
}
.rotationHigh {
    transform: rotate(358deg) scale(1.1, 1);
}

.animations {
    margin: -60px auto 0 auto;
    z-index: 10;
    position: relative;
    max-width: 1160px;
}

.title {
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #171f2d;
    margin-top: -90px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 63px;
}
@media (max-width: 1200px) {
    .title {
        margin-top: -84px;
        margin-bottom: -17px;
    }
}

@media (max-width: 890px) {
    .title {
        margin-top: -63px;
    }

    .title>p {
        font-size: 39px;
    }
}

.more {
    text-align: center;
    margin: 35px auto 80px auto;
    font-size: 19px;
}
.more > a > div > span {
    padding-top: 5px;
}