<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../partial/head') %>
    </head>

    <body class="container">
        <header>
            <%- include('../partial/header') %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>This is great</h1>
                <p>Welcome to templating using EJS</p>
            </div>
        </main>

        <footer>
            <%- include('../partial/footer') %>
        </footer>
    </body>
</html>
