<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../partial/head') %>
    </head>

    <body>
        <header>
            <%- include('../partial/header') %>
        </header>

        <main>
            <!-- Bandeau de présentation -->
            <div class="section section-2" style="margin-top: -5px;">
                <div class="m-title">
                    <p class="m-t-title">Mecanica Science</p>
                    <hr class="m-t-hr" />
                    <p class="m-t-subtitle">Site officiel de la chaîne YouTube MecanicaScience</p>
                </div>

                <div class="m-content">
                    <div class="container m-c-header">
                        <div class="m-c-row">
                            <div class="m-c-col">
                                <img class="m-c-image" src="imgs/illustration/test-icon.png" />
                            </div>

                            <div class="m-c-col">
                                <p>One of three columns</p>
                            </div>
                        </div>

                        <div class="m-c-row">
                            <div class="m-c-col">
                                <img class="m-c-image" src="imgs/illustration/test-icon.png" />
                            </div>

                            <div class="m-c-col">
                                <p>One of three columns</p>
                            </div>
                        </div>

                        <div class="m-c-row">
                            <div class="m-c-col">
                                <img class="m-c-image" src="imgs/illustration/test-icon.png" />
                            </div>

                            <div class="m-c-col">
                                <p>One of three columns</p>
                            </div>
                        </div>
                    </div>

                    <div class="m-c-button-yt">
                        <button class="mdc-button mdc-button--outlined" onclick="window.open('https://www.youtube.com/c/MecanicaScience', '_blank');">Voir sur Youtube</button>
                        <!--<a href="https://www.youtube.com/c/MecanicaScience"></a>-->
                    </div>
                </div>
            </div>



            <!-- Container category 1 -->
            <div class="section section-1">
                <div class="container category">
                    <div class="c-item">
                        <div class="b-image-cont">
                            <img class="b-img" src="imgs/blog/lune.png" />
                        </div>

                        <div class="b-text">
                            <p class="b-t-title">Science / Technique</p>
                            <p class="b-t-dec"><a>Ceci est un test de description d'article qui est censé fonctionner plutôt bien</a></p>

                            <p class="b-t-date">Le 01/01/1900</p>
                        </div>
                    </div>

                    <div class="c-item">
                        <div class="b-image-cont">
                            <img class="b-img" src="imgs/blog/lune.png" />
                        </div>

                        <div class="b-text">
                            <p class="b-t-title">Science / Technique</p>
                            <p class="b-t-dec"><a>Ceci est un second test de description d'article</a></p>
                            <p class="b-t-date">Le 01/01/1900</p>
                        </div>
                    </div>

                    <div class="c-item">
                        <div class="b-image-cont">
                            <img class="b-img" src="imgs/blog/lune.png" />
                        </div>

                        <div class="b-text">
                            <p class="b-t-title">Science / Technique</p>
                            <p class="b-t-dec"><a>Ceci est un troisième test de description d'article</a></p>
                            <p class="b-t-date">Le 01/01/1900</p>
                        </div>
                    </div>
                </div>

                <div class="container category">
                    <div class="c-item">
                        <div class="b-image-cont">
                            <img class="b-img" src="imgs/blog/lune.png" />
                        </div>

                        <div class="b-text">
                            <p class="b-t-title">Science / Technique</p>
                            <p class="b-t-dec"><a>Ceci est un troisième test de description d'article</a></p>
                            <p class="b-t-date">Le 01/01/1900</p>
                        </div>
                    </div>

                    <div class="c-item c-large-2">
                        <div class="b-image-cont">
                            <img class="b-img" src="imgs/blog/lune.png" />
                        </div>

                        <div class="b-text">
                            <p class="b-t-title">Science / Technique</p>
                            <p class="b-t-dec"><a>Ceci est un troisième test de description d'article</a></p>
                            <p class="b-t-date">Le 01/01/1900</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Container category breakimage -->
            <div class="section section-2">
                <p class="s-c-title">Les thèmes</p>

                <hr />

                <div class="s-c-category">
                    <div class="s-c-c-item">
                        <a href="#"><i class="fas fa-search fa-2x fa-darker"></i></a>
                        <a href="#">Category 1</a>
                    </div>

                    <div class="s-c-c-item">
                        <a href="#"><i class="fas fa-search fa-2x fa-darker"></i></a>
                        <a href="#">Category 2</a>
                    </div>

                    <div class="s-c-c-item">
                        <a href="#"><i class="fas fa-search fa-2x fa-darker"></i></a>
                        <a href="#">Category 3</a>
                    </div>
                </div>
            </div>


            <!-- Container category 2 -->
            <div class="section section-1">
                <div class="container category">
                    <div class="c-item c-large-2">
                        <div class="b-image-cont">
                            <img class="b-img" src="imgs/blog/lune.png" />
                        </div>

                        <div class="b-text">
                            <p class="b-t-title">Science / Technique</p>
                            <p class="b-t-dec"><a>Ceci est un 1er test de description d'article</a></p>
                            <p class="b-t-date">Le 01/01/1900</p>
                        </div>
                    </div>

                    <div class="c-item">
                        <div class="b-image-cont">
                            <img class="b-img" src="imgs/blog/lune.png" />
                        </div>

                        <div class="b-text">
                            <p class="b-t-title">Science / Technique</p>
                            <p class="b-t-dec"><a>Ceci est un 2nd test de description d'article</a></p>
                            <p class="b-t-date">Le 01/01/1900</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partial/footer') %>
    </body>
</html>
