<!DOCTYPE html>
<% if (getLocale()=="fr" ) { %>
    <html lang="fr">
<% } else { %>
    <html lang="en">
<% } %>
	<head>
		<%- include('../../partial/head') %>
		<meta name="robots" content="noindex">
	</head>

	<body>
		<navbar>
			<%- include('../../partial/header') %>

            <script type="text/javascript">
				window.onload = function() {
					let code = <%- code %>;


					if(code) setTimeout(function() {
							     document.getElementById('info-toast').style.opacity = 0;
						     }, 4000);

					if(code == '3' || code == '4' || code == '5' || code == '6' || code == '7') {
						document.getElementById('toast-btn-1').style.opacity = 0;
						document.getElementById('toast-btn-2').style.opacity = 0;
						document.getElementById('info-toast').style = 'height: 92.5px;';

						     if(code == '2')  document.getElementById('toast-text').innerHTML = 'L\'article à bien été supprimé.';
						else if(code == '3')  document.getElementById('toast-text').innerHTML = 'Erreur dans la suppression.';
						else if(code == '4')  document.getElementById('toast-text').innerHTML = 'Vous êtes bien connecté.';
						else if(code == '5')  document.getElementById('toast-text').innerHTML = 'Nom d\'utilisateur ou mot de passe erroné.';
						else if(code == '6')  document.getElementById('toast-text').innerHTML = 'Vous êtes bien déconnecté.';
						else if(code == '7')  document.getElementById('toast-text').innerHTML = 'Erreur lors de la déconnexion.';

						if(code == '5') document.getElementById('info-toast').style = 'height: 112.5px;';

						document.getElementById('info-toast').style.opacity = 1;
					}
				};
			</script>
        </navbar>

		<header id="header">
            <div class="big-header">
                <div class="trangles-left">
                    <div class="triangle1 triangle"><div></div></div>
                    <div class="triangle2 triangle"><div></div></div>
                    <div class="triangle3 triangle"><div></div></div>
                    <div class="triangle4 triangle"><div></div></div>
                </div>

                <div class="triangles-right">
                    <div class="triangle5 triangle"><div></div></div>
                    <div class="triangle6 triangle"><div></div></div>
                    <div class="triangle7 triangle"><div></div></div>
                    <div class="triangle8 triangle"><div></div></div>
                </div>

                <div class="b-g-main-logo" onclick="document.location.href='/'">
                    <img src="/imgs/main_logo.png" />
                </div>

                <div class="b-g-main-text">
                    <div class="bgm-t-1" style="text-transform: uppercase;">Connexion admin</div>
                    <div class="bgm-t-2"></div>
                    <div class="bgm-t-3">
                        <div class="bgm-t-3-1">
                            Mecanica
                        </div>
                        <div class="bgm-t-3-2">
                            Science
                        </div>
                        <div class="bgm-t-3-2">
                            <button type="button" class="btn btn-outline-light" href="/" onclick="document.location.href='/'">
                                Retourner à l'accueil
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <article>
			<div class="section section-2" style="margin-top: -5px; height: 324px;/*background: linear-gradient(43deg, #aa4a16, #F0712C 60%, #F0712C);*/">
                <div class="toaster">
    				<div id="info-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    					<div class="toast-header">
    						<svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
    							<rect width="100%" height="100%" fill="#007aff"></rect>
    						</svg>
    						<strong class="mr-auto">Information</strong>
    						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" onclick="document.getElementById('info-toast').style.opacity = 0">
    							<span aria-hidden="true">&times;</span>
    						</button>
    					</div>
    					<div class="toast-body" id="toast-text">
    						Chargement...
    					</div>
    					<div class="btn-group" role="group" aria-label="Basic example">
    						<button type="button" class="btn btn-secondary" onclick="redirectEdit()" id="toast-btn-1">Editer</button>
    						<button type="button" class="btn btn-danger" onclick="redirectDelete()" id="toast-btn-2">Supprimer</button>
    					</div>
    				</div>
    			</div>

                <div class="m-title" style="margin-top: 45px;">
                    <div class="container m-c-header">
						<div class="m-c-row">
						</div>

						<div class="m-c-row">
                            <form id="connection-form" action="/admin/connect" method="post">
    							<div class="m-c-col">
    								<div class="input-group mb-3">
    									<div class="input-group-prepend">
    										<span class="input-group-text" id="date-publication">Nom d'utilisateur :</span>
    									</div>
    									<input style="color: #606060 !important;" type="text" class="form-control" id="username" name="username">
    								</div>
    							</div>

                                <div class="m-c-col">
    								<div class="input-group mb-3">
    									<div class="input-group-prepend">
    										<span class="input-group-text" id="date-publication">Mot de passe :</span>
    									</div>
    									<input style="color: #606060 !important;" type="password" class="form-control" id="password" name="password">
    								</div>
    							</div>

                                <div class="m-c-col">
                                    <div class="modal-footer">
            							<button type="button" class="btn btn-outline-success" data-dismiss="modal" onclick="document.getElementById('connection-form').submit()">Connexion</button>
            							<button type="button" class="btn btn-outline-dark" onclick="window.location.href = '/'">Retourner à l'accueil</button>
            						</div>
                                </div>
                            <form>
						</div>

						<div class="m-c-row">
						</div>
					</div>
                </div>
			</div>
		</article>

		<%- include('../../partial/footer') %>
		<style>
			footer { margin-top: -109px !important; }
		</style>
	</body>
</html>
